@mixin noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Opera and Firefox */
}

.categories {
    ul {
        display: flex;

        @media(min-width: 2500px) {
            font-size: 34px;
          }

        @media(max-width: 1050px) {
            flex-wrap: wrap;
            row-gap: 20px;
            justify-content: center;
        }

        li {
            background-color: #f9f9f9;
            padding: 13px 30px;
            border-radius: 30px;
            margin-right: 10px;
            font-weight: bold;
            cursor: pointer;
            transition: background-color 0.1s ease-in-out;
            @include noselect();
            box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.11);

            &:hover {
                background-color: darken(#f9f9f9, 2%);
            }

            &:active {
                background-color: darken(#f9f9f9, 5%);
            }

            &.active {
                background-color: rgb(173, 173, 173);
                color: #fff;
                box-shadow: 2px 2px 3px rgb(173, 173, 173);
            }
        }
    }
}