@mixin noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
     supported by Chrome, Opera and Firefox */
}

.categories {
    display: flex;
    position: relative;

    .filter_popup {
        position: absolute;
        top: 50px;
        left: 0;
        margin-top: 15px;
        background:#fe5f1e;
        box-shadow: 3px 3px 10px 3px rgba(0, 0, 0, 0.452);
        border-radius: 30px;
        overflow: hidden;
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;

        @media (max-width: 1010px) {
            padding: 14px;
        }

        @media (max-width: 767px) {
            top: 25px;
        }

        ul {
            display: flex;
            column-gap: 15px;

            @media (min-width: 2500px) {
                font-size: 34px;
            }

            @media (max-width: 1010px) {
                flex-direction: column;
                align-items: center;
                row-gap: 15px;
                justify-content: center;
            }

            li {
                background-color: transparent;
                color: white;
                padding: 13px 30px;
                border-radius: 30px;
                border-right: 2px solid rgb(255, 255, 255);
                border-bottom: 2px solid rgb(255, 255, 255);
                font-weight: bold;
                cursor: pointer;
                transition: all 0.2s ease-in;
                @include noselect();

                @media (max-width: 1010px) {
                    width: 100%;
                    text-align: center;
                }

                @media (max-width: 767px) {
                    font-size: 13px;
                    padding: 8px 16px;
                }

                &:hover {
                    background-color: darken(#fe5f1e, 4%);
                }

                &.active {
                    transform: translateY(2px);
                    border: unset;
                    background-color: darken(#fe5f1e, 10%);
                }
            }
        }
    }
}
