@use "../../styles_utilities/scss-resourses.scss" as *;

main {
    .cart__container {
        margin: 0 auto;
        max-width: 830px;

        .cart__top {
            display: flex;
            justify-content: space-between;

            @media (max-width: 620px) {
                flex-direction: column;
                align-items: center;
                justify-content: center;
                row-gap: 20px;
            }

            h2 {
                font-size: 32px;
                font-weight: 600;

                .cart {
                    margin-right: 10px;
                }
            }

            .trash {
                fill: var(--white);
                width: 25px;
                height: 25px;

                @media (max-width: 620px) {
                    width: 16px;
                    height: 16px;
                }

                path {
                    stroke: var(--brown-light);
                    stroke-width: 1px;
                }
            }
        }

        .items {
            padding: 40px 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            row-gap: 30px;

            .item {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;

                @media (max-width: 620px) {
                    padding-bottom: 10px;
                    column-gap: 10px;
                    row-gap: 15px;
                    flex-wrap: wrap;
                    justify-content: space-around;
                    border-bottom: 1px solid rgb(235, 235, 235);
                }

                .img {
                    flex: 0 1 10%;
                    margin-right: 15px;
                    @include noselect();

                    @media (max-width: 620px) {
                        order: 1;
                    }

                    img {
                        border-radius: 50%;
                        min-width: 80px;
                        max-width: 100%;
                        box-shadow: 0 0 10px 4px rgb(0, 0, 0);

                        @media (max-width: 620px) {
                            order: 1;
                        }
                    }
                }

                .info {
                    flex: 0 1 40%;
                    display: flex;
                    justify-content: center;
                    flex-direction: column;

                    @media (max-width: 620px) {
                        order: 2;
                    }

                    h3 {
                        font-size: 22px;
                        font-weight: 700;
                    }

                    p {
                        font-size: 18px;
                    }
                }

                .counter {
                    flex: 0 1 13%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    column-gap: 10px;

                    @media (max-width: 620px) {
                        order: 5;
                    }

                    span {
                        font-size: 22px;
                        font-weight: 700;
                    }

                    .counter__button {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background-color: var(--otherBg);
                        transition: background-color 2s ease;
                        border: 2px solid  var(--brown-light);
                        border-radius: 50%;
                        min-width: 32px;
                        height: 32px;
                        padding: 0;
                        transition:
                            background-color 0.15s ease-in-out,
                            border-color 0.15s ease-in-out;
                        path{
                            fill: var(--brown-light);
                        }

                        .plus {
                            width: 10px;
                            height: 10px;
                        }

                        .minus {
                            width: 15px;
                            height: 15px;
                        }

                        &:hover {
                            background-color: var(--brown-light);
                            .plus {
                                path {
                                    fill: #fff;
                                }
                            }
                            .minus {
                                path {
                                    fill: #fff;
                                }
                            }
                        }

                        &:active {
                            background-color: darken($brown-light, 8%);
                            transform: translateY(1px);
                        }
                    }
                }

                .price {
                    flex: 0 1 33%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 22px;
                    font-weight: 700;

                    @media (max-width: 620px) {
                        order: 4;
                    }
                }

                .remove__button {
                    display: flex;
                    flex: 0 1 4%;
                    align-items: center;
                    justify-content: center;
                    background-color: var(--otherBg);
                    border: 2px solid $grey;
                    border-radius: 50%;
                    min-width: 32px;
                    height: 32px;
                    padding: 0;
                    transition:
                        background-color 0.15s ease-in-out,
                        border-color 0.15s ease-in-out;

                    @media (max-width: 620px) {
                        order: 3;
                    }

                    .remove {
                        width: 10px;
                        height: 10px;
                    }

                    &:hover {
                        background-color: $grey;
                        .remove {
                            path {
                                fill: #fff;
                            }
                        }
                    }

                    &:active {
                        background-color: darken($grey, 8%);
                        transform: translateY(1px);
                    }
                }
            }
        }

        .cart__bottom {
            padding: 50px 0;

            @media (max-width: 620px) {
                padding: 10px 0;
            }

            .details {
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-size: 22px;

                @media (max-width: 620px) {
                    flex-direction: column;
                    row-gap: 15px;
                }

                b {
                    color: var(--accent);
                }
            }

            .buttons {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: 40px;

                .back{
                    width: 20px;
                    height: 20px;

                    @media (max-width: 620px) {
                        width: 16px;
                        height: 16px;
                    }
                }
            }
        }
    }
}
