main {
    padding: 25px 0;
    flex: 1 0 auto;
    background-color: var(--page-bg);
    color: var(--text);
    transition:
    background-color 2s ease,
    color 1.3s ease;

    .content_top {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        row-gap: 40px;

        .content_filter {
            align-items: center;
            display: flex;
            justify-content: space-between;
            width: 100%;
        }
    }

    .content_title {
        font-size: 38px;
        font-weight: 800;
        margin: 100px 0 50px 0;

        @media (min-width: 2500px) {
            font-size: 74px;
            margin: 100px 0;
        }

        @media (max-width: 426px) {
            margin: 30px 0;
        }
    }

    .content_items {
        display: flex;
        flex-wrap: wrap;
        row-gap: 40px;
    }

    .content_skeletons {
        display: flex;
        flex-wrap: wrap;
        gap: 40px;
    }
}
