.header {
  border-bottom: 1px solid #f6f6f6;
  padding: 40px 0;
  background-color: var(--header-bg);
  color: var(--header-text);

  @media(max-width: 500px) {
    position: sticky;
    top: 0px;
    left: 0px;
    z-index: 50;
}

  .flex__container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media(max-width: 500px) {
      flex-wrap: wrap;
      justify-content: center;
    }

    .button__split {
      width: 1px;
      height: 25px;
      background-color: #ebebeb;
      margin: 0 3px;
    }
  }

  &__logo {
    display: flex;
    color: var(--black);

    img {
      margin-right: 15px;
      border-radius: 50%;
    }

    h1 {
      font-size: 24px;
      letter-spacing: 1%;
      text-transform: uppercase;
      font-weight: 800;
    }

    p {
      margin-top: 5px;
      color: #7b7b7b;
    }

    .logoText {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
}
