.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 400;
    font-style: normal;
    --header-bg: var(--header-bg-dark);
    --text: var(--text-dark);
    --header-logo-box-shadow: var(--header-logo-box-shadow-dark);
	--accent: var(--golden);
    --page-bg: var(--page-bg-dark);
    --selector-active: var(--selector-active-dark);
    --selector-bg: var(--selector-bg-dark);
    --footer-bg: var(--footer-bg-dark);
}
