.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 400;
    font-style: normal;
        /* Light mode */
        --header-bg: var(--header-bg-light);
        --text: var(--text-light);
        --header-logo-box-shadow: var(--header-logo-box-shadow-light);
        --page-bg: var(--page-bg-light);
        --selector-active: var(--selector-active-light);
        --selector-bg: var(--selector-bg-light);
        --footer-bg: var(--footer-bg-light);
        --otherBg: var(--otherBg-light);
}
