// обнуляющий стили файл
@import url("./css_utilities/resetStyles.scss");

:global{
    .container {
        margin: 0 auto;
        width: 90%;
        max-width: 1920px;
    }
}

#root {
	min-height: 100vh;
}