.sort {
    position: relative;
    z-index: 50;

    @media (min-width: 2500px) {
        font-size: 34px;
    }

    &__label {
        display: flex;
        align-items: center;
        cursor: pointer;

        @media (max-width: 767px) {
            span {
                display: none;
            }
        }

        .arrow {
            margin-right: 8px;
            width: 10px;
            height: 6px;

            @media (min-width: 2500px) {
                margin-right: 12px;
                width: 20px;
                height: 12px;
            }
        }

        b {
            margin-right: 8px;
        }

        span {
            color: #ff4800;
            text-decoration: underline;
        }
    }

    &__popup {
        position: absolute;
        right: 0;
        margin-top: 15px;
        background-color: var(--selector-active);
        transition: background-color 2s ease;
        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.09);
        border-radius: 10px;
        overflow: hidden;
        padding: 10px 0;
        width: 160px;

        @media (min-width: 2500px) {
            width: 340px;
        }

        ul {
            overflow: hidden;
            li {
                padding: 12px 20px;
                cursor: pointer;

                &.active,
                &:hover {
                    background: rgba(254, 95, 30, 0.05);
                }

                &.active {
                    font-weight: bold;
                    color: var(--orange);
                }
            }
        }
    }
}
