@use "../../styles_utilities/scss-resourses.scss" as *;

.sort {
    position: relative;
    z-index: 50;

    @media (min-width: 2500px) {
        font-size: 34px;
    }

    &__label {
        display: flex;
        align-items: center;
        cursor: pointer;
        font-weight: 700;

        @media (max-width: 767px) {
            span {
                display: none;
            }
        }

        b {
            margin-right: 8px;
        }

        span {
            color: var(--accent);
            text-decoration: underline;
        }
    }

    &__popup {
        position: absolute;
        right: 0;
        margin-top: 15px;
        background-color: var(--brown-light);
        transition: background-color 2s ease;
        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.226);
        border-radius: 20px;
        overflow: hidden;
        padding: 10px 0;
        width: 160px;
        color: var(--creamy-light);

        @media (min-width: 2500px) {
            width: 340px;
        }

        ul {
            overflow: hidden;
            li {
                padding: 12px 20px;
                cursor: pointer;

                &.active,
                &:hover {
                    background: darken($brown-light, 8%);
                }

                &.active {
                    font-weight: bold;
                    color: var(--golden);
                }
            }
        }
    }
}
